# Install with trusted github permissions
# sudo pip3 install --trusted-host github.com --trusted-host github-releases.githubusercontent.com -r requirements.txt

# SpacyAnonymizer
spacy==3.0.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl

# FlairAnonymizer
flair==0.8.0

# Other
PyPDF2~=1.26.0
torch~=1.7.1
transformers~=4.2.2
aiohttp~=3.7.4.post0
aiohttp-cors==0.7.0
